<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.3.67/css/materialdesignicons.min.css">
    {% include head-custom.html %}
</head>
<body>
<div class="wrapper">
    <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
        <img src="{{ site.logo | relative_url }}" alt="Logo" />
        {% endif %}

        <p>
            Ph.D. Student at Queen's University<br>
            Member of the <a href="https://medi.cs.queensu.ca/" target="_blank">Med-i Lab</a>
        </p>

        <p class="view">
            <a href="https://github.com/farahmand-m" target="_blank">
                GitHub Profile
                <small><span class="mdi mdi-github"></span> farahmand-m</small>
            </a>
        </p>

        <p class="view">
            <a href="https://scholar.google.com/citations?user=i5r84g0AAAAJ&hl=en" target="_blank">
                Scholar Profile
                <small><span class="mdi mdi-school"></span> Publications</small>
            </a>
        </p>

        <p class="view">
            <a href="https://www.linkedin.com/in/farahmand-mo/" target="_blank">
                LinkedIn Profile
                <small><span class="mdi mdi-linkedin"></span> farahmand-mo</small>
            </a>
        </p>

        <p class="view">
            <a href="https://medium.com/@farahmand-m" target="_blank">
                Medium Blog
                <small><span class="mdi mdi-post-outline"></span> farahmand-m</small>
            </a>
        </p>

        {% if site.show_downloads %}
        <ul class="downloads">
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
    </header>
    <section>

        {{ content }}

    </section>
    <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
</div>
<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>
</html>